
#odoo_bbtodo {

}
#odoo_bbtodo .my-main-pan{
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    background-color: rgb(240,240,240);
}

#odoo_bbtodo footer{
    width:100%;
    padding: 0px;
    margin: 10px;
    text-align: center;
}

#odoo_bbtodo button{
    font-size: 25px;
}

#odoo_bbtodo .title{
    text-align: center;
}

#odoo_bbtodo .edit_input{
    width: 100%;
    font-size: 30px;
    padding: 5px;
    margin: 12px;
}

#odoo_bbtodo ul{
    padding: 0px;
}

#odoo_bbtodo .widget_todolist li{
    width: 100%;
    font-size: 25px;
    margin: 4px;
    list-style: none;
    border-bottom: 1px solid #cccccc;
    padding: 4px;
}

#odoo_bbtodo ul li .destroy{
    position: absolute;
	right:15px;
    display: none;

}

#odoo_bbtodo li:hover .destroy {
  	display: inline-block;
}

#odoo_bbtodo .todoview_edit{
    width:80%;
}